<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Language" content="en_US" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  
  <!-- Favicon / Touch Icons -->
  <link href="favicon.ico" rel="shortcut icon">
  <link href="{% asset_path 'icons/touch-icon-iphone.png' %}" rel="apple-touch-icon">
  <link href="{% asset_path 'icons/touch-icon-ipad.png' %}" rel="apple-touch-icon" sizes="76x76">
  <link href="{% asset_path 'icons/touch-icon-iphone-retina.png' %}" rel="apple-touch-icon" sizes="120x120">
  <link href="{% asset_path 'icons/touch-icon-ipad-retina.png' %}" rel="apple-touch-icon" sizes="152x152">

  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  {% stylesheet style %}
  <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
  {% javascript main %}
</head>