<div id="sidenav" class="fixed open">
  <div class="content">
    <h4>
      <a href="/guides">Guides</a>
    </h4>
    {% assign linklist = site.data.guides %}
    {% include linklist.html %}
    <h4>
      <a href="/tutorials">Tutorials</a>
    </h4>
    {% assign linklist = site.data.tutorials %}
    {% include linklist.html %}
    <h4>
      <a href="/articles">Articles</a>
    </h4>
    {% assign linklist = site.data.articles %}
    {% include linklist.html %}
    <h4>
      <a href="/tools">Tools</a>
    </h4>
    {% assign linklist = site.data.tools %}
    {% include linklist.html %}
    <h4>
      <a href="/community">Community</a>
    </h4>
    {% assign linklist = site.data.community %}
    {% include linklist.html %}
    <h4>
      <a href="/dart-vm">Targets</a>
    </h4>
    {% assign linklist = site.data.dartvm %}
    {% include linklist.html %}
  </div>
</div>
