<header id="page-header" class="mdl-layout__header mdl-layout__header--scroll">
  <div class="container">
    <div class="mdl-layout__header-row">
      <div class="mdl-cell mdl-cell--4-col">
        <span class="mdl-layout-title brand">{{ site.title }}</span>
      </div>
      <div class="mdl-cell mdl-cell--8-col">
        {% include navigation-main.html %}
        <input id="search" type="text" placeholder="Search">
        <i id="search-icon" class="material-icons md-dark">search</i>
      </div>
    </div>
  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title brand">{{ site.title }}</span>
  {% include navigation-main.html %}
</div>