<footer id="page-footer">
  <div class="container">
    <div class="mdl-grid">
      <div class="mdl-cell--12-col">
        <div class="mdl-logo">Title</div>
      </div>
    </div>
    <div class="mdl-grid">  
      <div class="mdl-cell mdl-cell--3-col">
        <h1 class="mdl-mega-footer__heading">Technologies</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Dart for the Web</a></li>
          <li><a href="#">Angular 2</a></li>
          <li><a href="#">Polymer</a></li>
          <li><a href="#">VM / Observatory</a></li>
          <li><a href="#">Flutter</a></li>
          <li><a href="#">Fetch</a></li>
        </ul>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <h1 class="mdl-mega-footer__heading">Resources</h1>
        <div class="col2">
          <ul class="mdl-mega-footer__link-list">
            <li><a href="#">Download Dart</a></li>
            <li><a href="#">Articles</a></li>
            <li><a href="#">Dart Language</a></li>
            <li><a href="#">Effective Dart</a></li>
            <li><a href="#">Dart Spec</a></li>
            <li><a href="#">API Reference</a></li>
            <li><a href="#">Pub Packages</a></li>
            <li><a href="#">Dart Bugs</a></li>
            <li><a href="#">Samples</a></li>
            <li><a href="#">Logos &amp; Colors</a></li>
            <li><a href="#">Books</a></li>
            <li><a href="#">Presentations</a></li>
            <li><a href="#">FAQ</a></li>
          </ul>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <h1 class="mdl-mega-footer__heading">Community</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Support</a></li>
          <li><a href="#">Mailing Lists</a></li>
          <li><a href="#">Who Uses Dart</a></li>
          <li><a href="#">Stack Overflow</a></li>
          <li><a href="#">Slack</a></li>
          <li><a href="#">G+</a></li>
        </ul>
      </div>
      <div class="mdl-cell mdl-cell--3-col">
        <h1 class="mdl-mega-footer__heading">References</h1>
        <ul class="mdl-mega-footer__link-list">
          <li><a href="#">Dart News</a></li>
          <li><a href="#">Release Notes</a></li>
        </ul>
      </div>
    </div>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--6-col">
        <h5>Terms | Privacy</h5>
        <p><small>Except as otherwise noted, the content of this page is licensed under the Creative Commons Attribution 3.0 License, and code samples are licensed under the BSD License.</small></p>
      </div>
    </div>
  </div>
</footer>