---
layout: default
---
<article>
  <aside>
    {% if page.toc %}
      {% include navigation-toc.html %}
    {% endif %}

    {% if page.points %}
      <div class="panel">
        <h4>What's the point?</h4>
        <ul>
          {% for point in page.points %}
          <li>{{ point }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% if page.examples %}
      <div class="panel">
        <h4>Examples</h4>
        <ul>
          {% for example in page.examples %}
          <li>
            {% if example.url %}
              <a href="{{ exampl.url }}" target="_blank">{{ example.title }}</a>
            {% else %}
              {{ example.title }}
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <hr>
    <a href="https://github.com/dart-lang/dartlang.org/issues" target="_blank">Send feedback</a>
  </aside>
  <section>
    {{ content }}
  </section>
</article>