.prettyprint {
  background: #eee;
  // font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
  /* Put a border around prettyprinted code snippets. */
  // pre.prettyprint { padding: 2px; border: 1px solid #888 }
  a {
    text-decoration: none;
    background: rgba(255,255,255,0.8);
    padding:2px 3px;
    border-radius: 4px;
  }
}

/* SPAN elements with the classes below are added by prettyprint. */
.pln { color: #222 }  /* plain text */

@media screen {
  .str { color: $blue }  /* string content */
  .kwd { color: $teal }  /* a keyword */
  .com { color: #999999 }  /* a comment */
  .typ { color: #606 }  /* a type name */
  .lit { color: #066 }  /* a literal value */
  /* punctuation, lisp open bracket, lisp close bracket */
  .pun, .opn, .clo { color: #222 }
  .tag { color: #008 }  /* a markup tag name */
  .atn { color: #606 }  /* a markup attribute name */
  .atv { color: #080 }  /* a markup attribute value */
  .dec, .var { color: #606 }  /* a declaration; a variable name */
  .fun { color: red }  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str { color: #060 }
  .kwd { color: #006; font-weight: bold }
  .com { color: #600; font-style: italic }
  .typ { color: #404; font-weight: bold }
  .lit { color: #044 }
  .pun, .opn, .clo { color: #440 }
  .tag { color: #006; font-weight: bold }
  .atn { color: #404 }
  .atv { color: #060 }
}

pre.linenums { padding: 2px; }
/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #cccccc; } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { padding-left: 1em; background-color: #fff; list-style-type: decimal; }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background-color: #fefefe; }

// .pln { color: $blue; }

// /* string content */
// .str { color: #d14 }

// /* keyword */
// .kwd { color: #445588; font-weight: bold }

// /* comment */
// .com { color: #999988; font-style: italic }

// /* type name */
// .typ { color: #458; }

// /* literal value */
// .lit { color: #458; }

// /* punctuation */
// .pun { font-weight: bold }

// /* lisp open bracket */
// .opn { color: #333; }

// /* lisp close bracket */
// .clo { color: #333; }

// /* markup tag name */
// .tag { color: #000080; }

// /* markup attribute name */
// .atn { color: #008080; }

// /* markup attribute value */
// .atv { color: #d14; }

// /* declaration */
// .dec { color: #333; }

// /* variable name */
// .var { color: #008080; }

// /* function name */
// .fun { color: #900; }





// $codeBackgroundColor: #000000;
// $codePrimaryColor: #f0f0f0;
// $codePln: #f0f0f0;
// $codeStr: #bcd42a;
// $codeKwd: #9c7ddb;
// $codeCom: #777777;
// $codeTyp: #ff6a38;
// $codeLit: #bcd42a;
// $codePun: #f0f0f0;
// $codeOpn: #f0f0f0;
// $codeClo: #f0f0f0;
// $codeTag: #9c7ddb;
// $codeAtn: #ff6a38;
// $codeAtv: #bcd42a;
// $codeDec: #bcd42a;
// $codeVar: #bcd42a;
// $codeFun: #9c7ddb;

// code,  // Code
// kbd,   // Keyboard Input
// pre,   // Preformatted 
// samp { // Sample Output
//   font-family: 'SourceCodePro', Menlo, Monaco, Consolas, "Courier New", monospace;
// }

// code {
//   // Inline code
//   padding: 2px 4px;
//   font-size: 90%;
//   color: $codePrimaryColor;
//   background-color: $codeBackgroundColor;
//   white-space: nowrap;
//   border-radius: 4px;
// }

// // User input typically entered via keyboard
// kbd {
//   padding: 2px 4px;
//   font-size: 90%;
//   color: $codePrimaryColor;
//   background-color: $codeBackgroundColor;
//   border-radius: 2px;
//   box-shadow: inset 0 -1px 0 rgba(0,0,0,.25);
// }

// // Blocks of code
// pre {
//   display: block;
//   word-break: break-all;
//   word-wrap: break-word;
//   color: $codePrimaryColor;
//   background-color: $codeBackgroundColor;
//   border-radius: 4px;
//   padding: 10px;

//   code {
//     font-size: 0.7em;
//     color: $codePrimaryColor;
//     white-space: pre-wrap;
//     background-color: $codeBackgroundColor;
//     border-radius: 0;
//   }
// }