// Make all css changes here. These change will get added into the current SCSS structure where applicable.

/* Add space between definitions. */
dd {
	margin-bottom: 15px;
}

/* Make code font more noticeable (without being obnoxious). */
code {
	color: #008f83
}

/* Make code-font links look like links. Should also change the hover color. */
a code {
    color: $default-link
}

/* Make links in page footer white, not blue. */
#page-footer h4 a {
	color: #fff;
}

// FRONT-PAGE RELATED

/* Code sample */

body.homepage {
	#code-sample {
		pre {
			font-size: $font-size-base * 0.8;
			height: 230px;
			overflow: auto;
		}
	}
}

/* Slogan */
.slogan-with-footnotes {
	height: 230px;
	position: relative;
}

.slogan {
	font-size: $font-size-h4;
	line-height: 130%;
	height: 130px;
	margin-bottom: 0;

	.highlight {
		background: #fffde7;
		padding: 2px;
	}
}

/* Footnotes */
#code-display {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;

	height: auto;
	padding: 0;
	border: none;
	min-height: 0;
	margin-top: 0;
	font-style: italic;

	p {
		margin: 0;
	}
}

/* Create craigslist-like small cards for the front page */
body.homepage .chip-grid-section {
	padding-top: 0;
}

.chip-grid {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-end;
	margin: 0;
	margin-left: -15px;
	margin-right: -15px;
}
.chip {
	display: block;
	position: relative;
	width: 150px;
	height: auto;
	padding: 10px;
	overflow: hidden;
	box-sizing: border-box;
	h1, h2, h3, h4, h5, h6 {
		margin-top: 0;
		margin-bottom: $font-size-base / 2;
		font-size: $font-size-base;
	}
	p {
		font-size: $font-size-base * 0.8;
	}
}