/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$grey:                      #D3D3D3;
$grey-light:                #E8E8E8;
$grey-dark:                 #424242;


// Typeography
$font-family-base:          'Proxima Nova W01', sans-serif;
$font-family-condensed:     'Trade Gothic W01', sans-serif;
$font-family-extended:      'Trade Gothic W01', sans-serif;
$font-family-serif:         'Trade Gothic W01', sans-serif;

// Baseline
$font-size-base:          16px;

// Headings
$font-size-h1:            floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)); // ~30px
$font-size-h3:            ceil(($font-size-base * 1.5)); // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            ceil(($font-size-base * 0.85)); // ~12px

// Spacing
$live-content-width:      960px;
$line-height-base:        1.618;
$content-padding:         floor(($font-size-base * $line-height-base));

