/* -----------------------------------------
   Variables
----------------------------------------- */

// Color Palette
$black:                     #000000;
$white:                     #ffffff;
$grey:                      #D3D3D3;
$grey-light:                #eeeeee;
$grey-dark:                 #434343;
$teal:                      #1FBAAC;
$blue:                      #1b87c9;
$blue-light:                #e2f4fd;

// Typeography
$font-family-base:          'Source Sans Pro', sans-serif;
$font-family-condensed:     'Trade Gothic W01', sans-serif;
$font-family-extended:      'Trade Gothic W01', sans-serif;
$font-family-serif:         'Trade Gothic W01', sans-serif;

// Baseline
$font-size-base:          16px;

// Headings
$font-size-h1:            44px;
$font-size-h2:            37px;
$font-size-h3:            30px;
$font-size-h4:            21px;
$font-size-h5:            16px;
$font-size-h6:            14px;

// Spacing
$live-content-width:      1280px;
$content-padding:         20px;

// Alerts
$alert-success-bg:        #dff0d8;
$alert-info-bg:           $blue-light;
$alert-warning-bg:        #fcf8e3;
$alert-danger-bg:         #f2dede;





//== Popovers
//
//##

//** Popover body background color
$popover-bg:                          #fff;
//** Popover maximum width
$popover-max-width:                   276px !default;
//** Popover border color
$popover-border-color:                rgba(0,0,0,0);
//** Popover fallback border color
$popover-fallback-border-color:       transparent;

//** Popover title background color
$popover-title-bg:                    darken($popover-bg, 3%) !default;

//** Popover arrow width
$popover-arrow-width:                 12px;
//** Popover arrow color
$popover-arrow-color:                 $popover-bg;

//** Popover outer arrow width
$popover-arrow-outer-width:           ($popover-arrow-width + 1) !default;
//** Popover outer arrow color
$popover-arrow-outer-color:           fade_in($popover-border-color, 0.05) !default;
//** Popover outer arrow fallback color
$popover-arrow-outer-fallback-color:  darken($popover-fallback-border-color, 20%) !default;
