@import '_variables';
@import "bootstrap-sprockets";
@import "bootstrap";

@import '_mixins';

@import '_icons';
@import '_code';
@import '_animations';

@import '_dartvm';
@import '_books';

/* -----------------------------------------
  Global
  ----------------------------------------- */
body {
 font-family: $font-family-base;
}
main {
  margin: 80px 320px 50px 320px;
}
section {
 position: relative;
}

h1, h2, h3, h4, h5, h6 {
 font-family: $font-family-base;
 font-weight: 700;
 color: $grey-dark;
}

h1, .h1 { font-size: $font-size-h1;}
h2, .h2 { font-size: $font-size-h2;}
h3, .h3 { font-size: $font-size-h3;}
h4, .h4 { font-size: $font-size-h4;}
h5, .h5 { font-size: $font-size-h5;}
h6, .h6 { font-size: $font-size-h6;}

p {}

a, button {
 text-decoration: none;
 &:hover, &:focus, &:active {
   outline: none;
   text-decoration: none;
 }
}

form {

  .muted {
    font-size: 75%;
    color: $grey-light;
    text-indent: 0;
    padding: 10px;
  }
}
.select {
  position: relative;
  cursor: pointer;
  select {
    appearance: none;
    min-width: 120px;
    padding: 0 30px 0 10px;
    &:focus {
     outline: none;
    }
  }
  &:after {
    font-family: 'dart' !important;
    content: $icon-caret-up;
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 9px;
    color: $grey-dark;
    transform: rotate(180deg);
    pointer-events: none;
    @include transition();
  }
}
input, select {
  line-height: 32px;
  height: 32px;
  // text-indent: 15px;
  // width: 100%;
  margin: 4px 0;
  padding: 0 10px;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  background-color: $grey-light;
  color: $grey-dark;
  &:focus, &:active {
    outline-color: $blue;
  } 
}

pre {
  padding: $content-padding;
  background-color: $grey-light;
  color: $blue;
  position: relative;
  border: none;
  border-radius: 0;
  &.dartpad {
    &:after {
      content: 'Run';
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      z-index: 10;
      background-color: $white;
      background-image: url('{% asset_path "logo-no-wordmark.svg" %}');
      background-size: 18px;
      background-position: 7px center;
      background-repeat: no-repeat;
      padding: 5px 10px 5px 30px;
      border-radius: 8px;
      font-family: $font-family-base;
    }
  }
  .highlight {
    background: #fffde7;
    padding: 2px;
  }
}
code {
  background-color: transparent;
}
img {
  max-width: 100%;
}

/* -----------------------------------------
  DOM
  ----------------------------------------- */

// Structure
#page-header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: $grey-light;
  z-index: 1030;
}
#page-content {
  margin-top: 70px;
}
#page-footer {
  position: relative;
  color: $white;
  font-weight: 300;
  background-color: $grey-dark;
  z-index: 5;
  .brand {
   height: 30px;
   width: 120px;
   margin-top: 20px;
   margin-bottom: 20px;
   img {
    margin: 0;
   }
  }
  small {
   display: block;
   padding-right: 25px;
  }
  h4 {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      a {
        color: #ffffff;
        line-height: 16px;
        &:hover, &:focus, &:active {
          color: $grey-lighter;
        }
      }
    }
  }
}

// Navigation
#mainnav {
  nav {
    display: flex;
    @include transition(0.5s);
    .brand {
      display: inline-block;
      margin-left: 20px;
      line-height: 50px;
      font-size: 30px;
      font-weight: 900;
      color: $grey-dark;
      img {
        height: 30px;
        margin: 20px;
        @include transition(0.5s);
      }
    }
    ul {
      margin: auto;
      margin-right: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      li {
        margin: auto 15px;
        a {
          display: inline-block;
          padding: 0;
          font-size: 16px;
          font-weight: 700;
          color: $grey-dark;
          // pointer-events: all;
          &:hover {
            color: $blue;
          }
        }
        &.active {
          a {
            color: darken($grey-light, 15%);
            cursor: default;
            &:hover {
              color: darken($grey-light, 15%);
            }
          }
        }
      }
      &.drawer {
        display: none;
      }
    }
  }
}
#subnav {
  height: 32px;
  line-height: 32px;
  background: $grey-dark;
  color: $white;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
     display: inline-block;
     width: 49%;
     a {
      display: block;
      color: $white;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 700;
     }
     &.next {
       text-align: right;
     }
    }
  }
}
#footernav {}

#sidenav {
  position: absolute;
  width: 280px;
  height: auto;
  top: 70px;
  left: 0;
  border-right: 1px solid $grey;
  background-color: #ffffff;
  overflow: hidden;
  z-index: 1;
  &.fixed {
    display: none;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    .content {
      padding-bottom: 400px;
    }
  }
  &.open {
    display: block;
  }
  .content {
    padding-left: 30px;
    h4 {
      font-size: 18px;
      line-height: 25px;
      text-transform: uppercase;
      border-bottom: 1px solid $grey;
      a {
        display: block;
        color: $grey-dark;
        &:hover, &:focus, &:active {
          color: $grey-dark;
        }
      }
    }
    ul {
      padding: 0;
      margin-top: 0;
      list-style: none;
      li {
        position: relative;
        font-weight: 700;
        a {
          font-weight: 700;
          color: $grey-dark;
        }
        i {
          position: relative;
          display: inline-block;
          transform: rotate(90deg);
          font-size: 9px;
          top: -2px;
          line-height: inherit;
          opacity: 0.5;
          color: $grey-dark;
          cursor: pointer;
          @include transition();
          &:hover {
            opacity: 1;
          }
        }
        ul {
          display: none;
          height: 0;
          opacity: 0;
          @include transition(0.5s);
          li {
            padding-left: 10px;
            a {
              font-weight: 300;
            }
          }
        }
        &.active {
          > a {
            color: $blue;
          }
          i {
            transform: rotate(180deg);
            top: -3px;
            opacity: 1;
          }
          > ul {
            display: block;
            height: auto;
            opacity: 1;
          }
        }
      }
    }
  }
}
#toc {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 70px;
  right: 0;
  border-left: 1px solid $grey;
  overflow-y: auto;
  z-index: 1;
  .content {
    padding: 20px 0;
  }
  .section-nav {
    opacity: 0;
    list-style: none;
  }
  .nav {
    li {
      a {
        padding: 5px 15px;
        color: $grey-dark;
      }
      &.active {
        a {
          color: $blue;
        }
      }
    }
  }
}

#code-display {
  padding: $content-padding;
  border: 1px solid $grey;
  height: 100%;
  min-height: 105px;
}


/* -----------------------------------------
 Dartpad
 ----------------------------------------- */

#run-dartpad {
  position: relative;
  padding: 15px 0;
  background: $grey-light;
  border-top: 1px solid $grey;
  z-index: 5;
}

#embedded-dartpad {
 position: fixed;
 width: 100%;
 height: 30px;
 bottom: 0;
 left: 0;
 background-color: red;
}
/* -----------------------------------------
 Search
 ----------------------------------------- */
#search {
  position: relative;
  width: 250px;
  background-color: #ffffff;
}

#search-icon {
  position: absolute;
  right: 5px;
  top: 0;
  color: $grey-dark;
  font-size: 14px;
}

/* -----------------------------------------
 Table of Contents
 ----------------------------------------- */
.toc-entry.toc-h2 {}
.toc-entry.toc-h1,
.toc-entry.toc-h3,
.toc-entry.toc-h4,
.toc-entry.toc-h5,
.toc-entry.toc-h6,
.no_toc {
 display: none;
}

/* -----------------------------------------
  Utility Classes
 ----------------------------------------- */

.content {
 position: relative;
 padding: $content-padding;
}

.button {
  padding: 5px 10px;
  color: $blue;
  border-radius: 8px;
  &.dart-button {
    background-color: $white;
    padding: 5px 10px 5px 30px;
    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 2px;
      left: 25px;
      width: 15px;
      height: 15px;
      background-image: url('{% asset_path "logo-no-wordmark.svg" %}');
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
}

// Columns
.col2 {
 column-count: 2;
 column-gap: 0;
 li {
   page-break-inside: avoid;
 }
}
.col3 {
 column-count: 3;
 column-gap: 0;
 li {
   page-break-inside: avoid;
 }
}

.banner {
 width:100%;
 text-align: center;
 padding: 30px 0;
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   sup {
     font-size: 24px;
   }
 }
 p {
   font-size: 20px;
   font-weight: 300;
   sup {
     font-size: 14px;
   }
 }
 sup {
   color: $blue;
 }
}

.menu-toggle {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  right: auto;
  line-height: 50px;
  background-color: transparent;
  border: none; 
  color: $grey-dark;
  cursor: pointer;
  pointer-events: all;
  i {
    font-size: 20px;
  }
}


.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: -15px;
  margin-right: -15px;
}
.card {
  display: block;
  position: relative;
  width: 300px;
  height: auto;
  min-height: 100px;
  padding: $content-padding;
  margin: 15px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: $grey-light;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.21);
  text-align: center;
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
}


// Color Palette
.grey-dark {
 background-color: $grey-dark;
 color: $white;
 h1, h2, h3, h4, h5, h6 {
   color: $white;
 }
}
.grey-light {
 background-color: $grey-light;
 color: $grey-dark;
 h1, h2, h3, h4, h5, h6 {
   color: $grey-dark;
 }
}

.footnote {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    counter-increment: step-counter;
    margin-bottom: 10px;
    position: relative;
    &:before {
      content: counter(step-counter);
      position: absolute;
      left: -25px;
      top: -3px;
      font-size: 20px;
      font-weight: bold;
      padding: 3px 8px;
    }
  }
}

/* -----------------------------------------
  Bootstrap Overwrites
 ----------------------------------------- */
.container {
 position: relative;
 max-width: 100%;
 width: $live-content-width;
 margin: 0 auto;
}
.page-header {
  margin: 0;
  margin-bottom: 10px;
  padding: $content-padding;
  h1, h2 {
    font-size: 36px;
  }
}
.panel {
  background-color: $grey-dark;
  color: $white;
  padding: $content-padding;
  margin-bottom: 20px;
  h1, h2, h3, h4, h5, h6 {
    color: $white;
    margin: 0;
  }
  ul {
    padding-left: 15px;
  }
}

.table {
  width: 100%;
  @extend .table-striped;
  @extend .table-bordered;
}

.popover {
  border-radius: 0;
  .popover-title {
    border-radius: 0;
  }
}

.alert {
  padding: $content-padding;
  border: none;
  p {
    margin-bottom: 0;
  }
  &.alert-success {
    width: auto;
    background-color: $alert-success-bg;
  }
  &.alert-info {
    width: auto;
    background-color: $alert-info-bg;
  }
  &.alert-warning {
    width: auto;
    background-color: $alert-warning-bg;
  }
  &.alert-danger {
    width: auto;
    background-color: $alert-danger-bg;
  }
  &.alert-obsolete {
    width: auto;
    background-color: $grey-dark;
    color: $white;
  }
}


/* -----------------------------------------
  Templates
 ----------------------------------------- */
// Homepage

body.homepage {
  #sidebar {
    display: none;
  }
  main {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  pre.prettyprint {
   margin-top: 0;
   height: 185px;
   overflow: auto;
  }
}

// Page States
body.hide_toc {
  main { margin-right: 20px; }
  #toc {
    display: none;
    right: -300px;
  }
}
body.hide_sidebar {
  main { margin-left: 20px; }
  #sidebar {
    display: none;
    left: -300px;
  }
}

body.show_subnav {
  #page-content {
    margin-top: 103px;
  }
  #sidebar, #toc { top: 102px; }
  &.condensed_header {
    #sidebar, #toc { top: 82px; }
  }
}
body.condensed_header {
  .menu-toggle { line-height: 35px; }
  #mainnav {
    .brand {
      img {
        height: 20px;
        margin-top: 5px;
      }
    }
  }
  #sidenav, #toc {
    top: 35px;
  }
}
/* -----------------------------------------
  Media Queries
 ----------------------------------------- */

@media(max-width: 1024px) {
  #mainnav {
    nav {
      .brand {
        margin: 0 auto;
        img {
          margin: 3px 0;
        }
      }
      ul {
        display: none;
      }
    }
  }
  .menu-toggle {
    display: block;
    .sr {
      position:absolute;
      left: -999px;
      top: 0;
    }
  }
  #toc {
    display: none;
  }
  #sidebar {
    width:300px;
    top: 40px;
    left: -300px;
    z-index: 100;
    @include transition(left, .5s);
  }
  main {
    margin: 50px auto;
  }
  body.open-menu {
    &:before {
      content: '';
      display: block;
      position: fixed;
      top: 0; bottom: 0;
      left: 0; right: 0;
      height: 100%;
      z-index: 1;
      background-color: rgba(0,0,0,0.7);
      pointer-events: none;
      @include transition();
    }
    #sidebar {
      left: 0;
    }
  }
}


@media(max-width: 600px) {
  .card {
    width: 100%;
  }
}