@import "bootstrap-sprockets";
@import '_variables';
@import '_mixins';
@import '_icons';
@import '_code';
// @import '_syntax';
@import '_animations';

@import '_books';

/* -----------------------------------------
  Global
  ----------------------------------------- */
body {
 font-family: $font-family-base;
}
article {
  display: flex;
  flex-flow: row wrap;
  margin: 0 auto 0 auto;
  align-items: stretch;
 // @extend .mdl-grid;
 section {
  margin: 8px;
  width: calc(100% - 16px);
 }
 aside {
  margin: 8px;
  width: calc(100% - 16px);
 }
}
section {
 position: relative;
}

h1, h2, h3, h4, h5, h6 {
 font-family: $font-family-base;
 font-weight: 700;
 color: $grey-dark;
}

h1, .h1 { font-size: $font-size-h1;}
h2, .h2 { font-size: $font-size-h2;}
h3, .h3 { font-size: $font-size-h3;}
h4, .h4 { font-size: $font-size-h4;}
h5, .h5 { font-size: $font-size-h5;}
h6, .h6 { font-size: $font-size-h6;}

p {}

a {
 color: $blue;
 text-decoration: none;
 &:hover, &:focus, &:active {
   outline: none;
 }
}

form {

  .muted {
    font-size: 75%;
    color: $grey-light;
    text-indent: 0;
    padding: 10px;
  }
}
.select {
  position: relative;
  cursor: pointer;
  select {
    -webkit-appearance: none;
    color: $grey-light;
    &:focus {
     outline: none;
    }
  }
  &:after {
    content: "\e917";
    display: block;
    position: absolute;
    right: 15px;
    top: 22px;
    font-family: 'dart' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    font-size: 9px;
    color: $grey-light;
    transform: rotate(180deg);
    @include transition();
    pointer-events: none;
  }
}
input, select {
  line-height: 32px;
  height: 32px;
  text-indent: 15px;
  width: 100%;
  margin: 4px 0;
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  background-color: #ffffff;
  &:focus, &:active {
    outline-color: $blue;
  } 
}

pre {
  padding: $content-padding;
  background-color: $grey-light;
  color: $blue;
  position: relative;
  &.prettyprint {
    border: none;
    // padding: 15px 5px;
  }
  &.dartpad {
    &:after {
      content: 'Run';
      position: absolute;
      top: 10px;
      right: 10px;
      display: block;
      z-index: 10;
      background-color: $white;
      background-image: url('{% asset_path "images/logo-no-wordmark.svg" %}');
      background-size: 18px;
      background-position: 7px center;
      background-repeat: no-repeat;
      padding: 5px 10px 5px 30px;
      border-radius: 8px;
      font-family: $font-family-base;
    }
  }
  .highlight {
    background: #fffde7;
    padding: 2px;
  }
}
img {
  max-width: 100%;
}

/* -----------------------------------------
  DOM
  ----------------------------------------- */

// Structure
#page-header {
  position: fixed;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  background-color: $grey-light;
  z-index: 1030;
  .menu-toggle {
    display: none;
    position: absolute;
    top: 8px;
    left: auto;
    right: 8px;
    background-color: transparent;
    border: none; 
    color: $grey;
    cursor: pointer;
    pointer-events: all;
    i {
      font-size: 20px;
    }
  }
  &.condensed {
    #mainnav {
      .brand {
        img {
          height: 35px;
          margin-top: 5px;
        }
      }
    }
  }
}
#page-content {
  // display:none;
  margin-top: 80px;
}
#page-footer {
 color: $white;
 font-weight: 300;
 background-color: $grey-dark;
 .mdl-logo {
   text-indent: -999em;
   background-color: transparent;
   background-image: url('{% asset_path "images/logo-white.svg" %}');
   background-position: left center;
   background-repeat: no-repeat;
   background-size: contain;
   height: 30px;
   width: 120px;
   margin-top: 20px;
   margin-bottom: 20px;
 }
 small {
   display: block;
   padding-right: 25px;
 }
 h5, p, a {
   font-weight: 300;
   color: #fff;
 }
 .mdl-mega-footer__middle-section {}
 .mdl-mega-footer__bottom-section {
   ul {
     padding-left: 16px;
   }
 }
}

// Navigation
#mainnav {
  nav {
    display: flex;
    @include transition(0.5s);
    .brand {
      display: inline-block;
      img {
        height: 50px;
        margin-top: 10px;
        @include transition(0.5s);
      }
    }
    ul {
      margin: auto;
      margin-right: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
      li {
        margin: auto 15px;
        a {
          display: inline-block;
          padding: 0;
          font-size: 16px;
          font-weight: 700;
          color: $grey-dark;
          // pointer-events: all;
          &:hover {
            color: $blue;
          }
        }
        &.active {
          a {
            color: darken($grey-light, 15%);
            cursor: default;
            &:hover {
              color: darken($grey-light, 15%);
            }
          }
        }
      }
      &.drawer {
        display: none;
      }
    }
  }
}
#subnav {
  height: 32px;
  line-height: 32px;
  background: $grey-dark;
  color: $white;
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
     display: inline-block;
     width: 49%;
     a {
      display: block;
      color: $white;
      padding-left: 5px;
      padding-right: 5px;
      font-weight: 700;
     }
     &.next {
       text-align: right;
     }
    }
  }
}
#footernav {}

#toc {
  h4 {
    margin-bottom: 0;
    font-size: 18px;
    text-transform: uppercase;
    border-bottom: 1px solid #eee;
    a {
      display: block;
      color: $grey-dark;
      &:hover, &:focus, &:active {
        color: $blue;
      }
    }
  }
  ul {
    padding: 0;
    margin-top: 0;
    list-style: none;
    li {
      position: relative;
      font-weight: 700;
      a {
        font-weight: 700;
        &.active {
          color: darken($blue, 15%);
        }
      }
      i {
        position: relative;
        display: inline-block;
        transform: rotate(90deg);
        font-size: 9px;
        top: -2px;
        line-height: inherit;
        opacity: 0.5;
        color: $blue;
        cursor: pointer;
        @include transition();
        &:hover {
          opacity: 1;
        }
      }
      ul {
        display: none;
        height: 0;
        opacity: 0;
        @include transition(0.5s);
        li {
          padding-left: 10px;
          a {
            font-weight: 300;
          }
        }
      }
      &.open {
        i {
          transform: rotate(180deg);
          top: -3px;
          opacity: 1;
          // color: darken($blue, 15%);
        }
        > ul {
          display: block;
          height: auto;
          opacity: 1;
        }
      }
    }
  }
  ul.section-nav {
    li {
      a {
        // color: $grey-dark;
        &:hover {
          // color: $blue;  
        }
      }
    }
  }
}
#breadcrumbs {
 padding: 15px 0;
}
#copyright {}


/* -----------------------------------------
 Dartpad
 ----------------------------------------- */

#run-dartpad {
 padding: 15px 0;
 background: $grey-light;
 border-top: 1px solid $grey;
}

#embedded-dartpad {
 position: fixed;
 width: 100%;
 height: 30px;
 bottom: 0;
 left: 0;
 background-color: red;
}
/* -----------------------------------------
 Search
 ----------------------------------------- */
#search {
  position: relative;
  width: 250px;
}

#search-icon {
  position: absolute;
  right: 5px;
  top: 0;
  color: $grey-dark;
  font-size: 14px;
}

/* -----------------------------------------
 Table of Contents
 ----------------------------------------- */
.toc-entry.toc-h2
{}
.toc-entry.toc-h1,
.toc-entry.toc-h3,
.toc-entry.toc-h4,
.toc-entry.toc-h5,
.toc-entry.toc-h6,
.no_toc
{
 display: none;
}

/* -----------------------------------------
  Utility Classes
 ----------------------------------------- */
.container {
  position: relative;
  max-width: 100%;
  width: $live-content-width;
  margin: 0 auto;
}

.content {
 position: relative;
 padding: $content-padding;
}

.button {
 padding: 5px 10px;
 color: $blue;
 border-radius: 8px;
 &.dart-button {
   background-color: $white;
   padding: 5px 10px 5px 30px;
   &:after {
     content: '';
     display: block;
     position: absolute;
     top: 2px;
     left: 10px;
     width: 15px;
     height: 15px;
     background-image: url('{% asset_path "images/logo-no-wordmark.svg" %}');
     background-size: cover;
     background-position: center center;
     background-repeat: no-repeat;
   }
 }
}

.panel {
 background-color: $grey-dark;
 color: $white;
 padding: $content-padding;
 margin-bottom: 20px;
 h1, h2, h3, h4, h5, h6 {
   color: $white;
   margin: 0;
 }
 ul {
   padding-left: 15px;
 }
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
  background-color: transparent;
  border-spacing: 0;
  border-collapse: collapse;
  thead {
    tr {
      th {
        text-align: left;
      }
    }
  }
  tbody {
    tr {
      td {
        padding: 8px;
        line-height: 1.42857143;
        vertical-align: top;
        border-top: 1px solid #ddd;
      }
    }
  }
  &.table-striped {
    tbody {
      tr:nth-child(odd) {
        td {
          background-color: #f9f9f9;
        }
      }
    }
  }
}

// Columns
.col2 {
 column-count: 2;
 column-gap: 0;
 li {
   page-break-inside: avoid;
 }
}
.col3 {
 column-count: 3;
 column-gap: 0;
 li {
   page-break-inside: avoid;
 }
}

.banner {
 width:100%;
 text-align: center;
 padding: 30px 0;
 h1, h2, h3, h4, h5, h6 {
   margin-top: 0;
   sup {
     font-size: 24px;
   }
 }
 p {
   font-size: 20px;
   font-weight: 300;
   sup {
     font-size: 14px;
   }
 }
 sup {
   color: $blue;
 }
}

.grey-dark {
 background-color: $grey-dark;
 color: $white;
 h1, h2, h3, h4, h5, h6 {
   color: $white;
 }
}
.grey-light {
 background-color: $grey-light;
 color: $grey-dark;
 h1, h2, h3, h4, h5, h6 {
   color: $grey-dark;
 }
}

.custom-counter {
 margin: 0;
 padding: 0;
 list-style-type: none;
}

.custom-counter li {
 counter-increment: step-counter;
 margin-bottom: 10px;
 position: relative;
}

.custom-counter li::before {
 content: counter(step-counter);
 position: absolute;
 left: -25px;
 top: -3px;
 font-size: 20px;
 font-weight: bold;
 padding: 3px 8px;
}

/* -----------------------------------------
  Message / Notifications
 ----------------------------------------- */
// .alert {
//   padding: $content-padding;
//   p {
//     margin-bottom: 0;
//   }
//   &.alert-success {
//     width: auto;
//     background-color: $alert-success-bg;
//   }
//   &.alert-info {
//     width: auto;
//     background-color: $alert-info-bg;
//   }
//   &.alert-warning {
//     width: auto;
//     background-color: $alert-warning-bg;
//   }
//   &.alert-danger {
//     width: auto;
//     background-color: $alert-danger-bg;
//   }
//   &.alert-obsolete {
//     width: auto;
//     background-color: $grey-dark;
//     color: $white;
//   }
// }


::-webkit-input-placeholder {
  color: $grey-dark;
  font-family: $font-family-base;
}
:-moz-placeholder { /* Firefox 18- */
  color: $grey-dark;
  font-family: $font-family-base; 
}
::-moz-placeholder {  /* Firefox 19+ */
  color: $grey-dark;
  font-family: $font-family-base;
}
:-ms-input-placeholder {  
  color: $grey-dark;
  font-family: $font-family-base;
}



/* -----------------------------------------
  MDL Overwrites
 ----------------------------------------- */
// .mdl-layout__drawer-button {
//  color: $white;
// }

// .mdl-layout__header-row {
//  padding: 0;
// }

// .mdl-layout__drawer>.mdl-layout-title {
//  margin-left:16px;
//  margin-top:16px;
// }

// .mdl-layout__header-row {
//  .mdl-navigation__link {
//    padding: 0 20px;
//  }
// }

// .mdl-mega-footer__heading {
//  font-weight: 300;
//  text-transform: uppercase;
//  letter-spacing: 2px;
//  margin-top: 0;
// }


/* -----------------------------------------
  Templates
 ----------------------------------------- */
// Homepage

.homepage {
  pre {
   margin-top: 0;
   height: 185px;
   overflow: auto;
  }
}

#code-display {
  padding: $content-padding;
  border: 1px solid $grey;
  height: 100%;
  min-height: 105px;
}

// Collections
body.show_toc {
  article {
    section {
     width: calc(75% - 16px);
    }
    aside:nth-of-type(1) {
      width: calc(25% - 16px);
    }
  }
}
/* -----------------------------------------
  Media Queries
 ----------------------------------------- */
@media(min-width: 1024px) {
 .mdl-layout__drawer {
   .mdl-navigation {
     .mdl-navigation__link {
       padding: 5px 16px;
     }
   }
 }  
 .mdl-layout__drawer-button {
   display: none;
 }
}
@media(max-width: 768px) {
  article {
    section {
      width: calc(100% - 16px);
    }
    aside:nth-of-type(1) {
      position: fixed;
      margin: 0;
      width: 100%;
      height: 100%;
      background-color: red;
      z-index: 9;
    }
  }
}